/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom CSS */
.custom-navbar {
    background-color: #ff6b4b;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff6b4b;
    transition: background-color 0.3s;
    position: relative;
}

.navbar-brand:hover {
    background-color: #ff8c6b;
}
.navbar-brand .btn-back {
    color: #fff; /* Warna ikon "Back" menjadi putih */
    margin-right: 5px; /* Menambahkan margin kanan agar terlihat lebih rapih */
}

.logo-text {
    color: #fff; /* Warna teks "I-Fix" menjadi putih */
}

.hero {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.upload-container {
    margin-top: 50px;
}

.upload-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.upload-container p {
    color: #555;
}

.border-container {
    border: 2px dashed #ff6b4b;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.border-container:hover {
    border-color: #ff8c6b;
}

.icons {
    color: #ff6b4b;
}

.icons i {
    margin-right: 5px;
}

.additional-buttons {
    margin-top: 20px;
}

.download-button {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6b4b;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff8c6b;
}

.btn-back {
    margin-right: 10px; /* Menambahkan margin kanan agar terlihat lebih rapih */
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .hero {
        padding: 50px 0;
    }

    .upload-container h1 {
        font-size: 1.5rem;
    }
}

